<hr>
<div class="share-page">

    <strong>
    Share:
    </strong>
    
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl_}}{{ page.url }}&via=ItsNeuronal&related=ItsNeuronal" rel="nofollow" target="_blank" title="Share on Twitter" class="btn-social btn-twitter">
        <i class="fa fa-twitter"></i>
    </a>

    <a href="http://www.reddit.com/submit?url={{ site.url }}{{site.baseurl_}}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit" class="btn-social btn-reddit">
        <i class="fa fa-reddit"></i>
    </a>

    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{site.baseurl_}}{{ page.url }}&t={{ page.title }}" rel="nofollow" target="_blank" title="Share on Facebook" class="btn-social btn-facebook">
        <i class="fa fa-facebook-official"></i>
    </a>

    <a href="https://plus.google.com/share?url={{ site.url }}{{site.baseurl_}}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" class="btn-social btn-google">
        <i class="fa fa-google-plus"></i>
    </a>

    <strong>
    &nbsp;&nbsp;&nbsp;&nbsp;Follow:
    </strong>

    <a href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Falexhwilliams.info%2Fitsneuronalblog%2Ffeed.xml" rel="nofollow" target="_blank" title="Follow on Feedly" class="btn-social btn-rss">
        <i class="fa fa-rss"></i>
    </a>

</div>
