<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include google_analytics.html %}
  {% include mathjax.html %}

  <body>

    <div class="content container">

        <div class="topbar">
        An occasionally updated research blog by <a href="http://alexhwilliams.info">Alex Williams</a>. Back to <a href="/itsneuronalblog/">blog posts</a>.
        </div>

        {{ content }}
        {% include comments.html %}
    </div>
   
  </body>
</html>
